*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-areas:
    "footer"
    "header"
    "main"
    ;
    grid-template-columns: 20px 100px 30px;
    grid-template-rows: 100px;
    
}
footer{
  grid-row:10px;
}
 